.header {
  background-color: #252f3e;
  height: 80vh;
  position: relative;
}

.header__items {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  width: 100%;
}

.header__logo {
  margin-right: 2rem;
  text-align: center;
}

.header__logo-image {
  height: 8rem;
  margin-bottom: -1rem;
}

.header__functionalities {
  padding: 5rem;
}

.header__functionalities-input {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 2.5rem;
  outline: none;
}

.header__functionalities-button {
  border: none;
  margin-top: 1rem;
  width: 20%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.2s;
  outline: none !important;
  background-color: #f6ce6e;
}

.header__functionalities-button:hover {
  transform: translateY(-3px);
}
.header__functionalities-button:active {
  transform: translateY(-0.5px);
}

.header__report {
  margin-top: 5rem;
}

.header__report-country {
  text-transform: uppercase;
  color: #e7e6de;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1rem;
}

/* MEDIA QUERIES */

/* 900-1200px */
@media (max-width: 75em) {
  .header__logo-image {
    height: 7rem;
    margin-bottom: -2rem;
  }
}
/* 600-900px */
@media (max-width: 56.25em) {
}
/* 0-600px */
@media (max-width: 37.5em) {
  .header__logo {
    margin-right: 1rem;
    text-align: center;
  }
  .header__functionalities-input {
    width: 100%;
    height: 2.5rem;
    font-size: 1.8rem;
    padding: 2rem;
  }
  .header__functionalities-button {
    border: none;
    margin-top: 2rem;
    width: 50%;
    font-size: 2rem;
  }
  .header__report-country {
    letter-spacing: 0;
  }
}
